@page "/Videos/FrmDbContextTest"
@using VideoAppCore.Models

@inject VideoDbContext VideoDbContext;

@inject IVideoRepositoryAsync repositoty

<h3>FrmDbContextTest</h3>

<ul>
    @foreach (var video in videos)
    {
    <li>@video.Id - @video.Title</li>
    }
</ul>
        

@code {    
    List<Video> videos = new List<Video>();

    protected override async Task OnInitializedAsync()
    {
        videos = await repositoty.GetAllAsync();
    }
}
