@using BWBlazorShared

<ul>
    @foreach (var site in Sites)
    {
        <li><a href="@site.Url">@site.Title (@site.Description)</a></li>
    }
</ul>

@code {
    private List<Site> sites;

    public List<Site> Sites
    {
        get { return sites; }
        set { sites = value; }
    }

    protected override void OnInitialized()
    {
        sites = new List<Site>
        {
            new Site { 
                Id = 1, 
                Title = "구글",  
                Url = "https://www.google.com", 
                Description = "구글 사이트" 
            },
            new Site {                
                Id = 2, 
                Title = "네이버", 
                Url = "https://www.naver.com", 
                Description = "네이버 사이트" 
            },
            new Site { 
                Id = 3, 
                Title = "다음", 
                Url = "https://www.daum.net", 
                Description = "다음 사이트" 
            },
        };
    }
}
