.bwcalendar ul {
    list-style-type: none;
}

.bwcalendar body {
    font-family: Verdana, sans-serif;
}

/* Month header */
.bwcalendar .month {
    padding: 10px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

/* Month list */
.bwcalendar .month ul {
    margin: 0;
    padding: 0;
}

.bwcalendar .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.bwcalendar .month .prev {
    float: left;
}

/* Next button */
.bwcalendar .month .next {
    float: right;
}

/* Weekdays (Mon-Sun) */
.bwcalendar .weekdays {
    font-size: x-small;
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.bwcalendar .weekdays li {
    display: inline-block;
    width: 13.4%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.bwcalendar .days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    font-size: xx-small;
}

.bwcalendar .days li {
    display: inline-block;
    width: 13.4%;
    text-align: center;
    margin-bottom: 5px;
    color: #777;
}

/* Highlight the "current" day */
.bwcalendar .days li .active {
    border: 1px solid red;
    padding: 5px;
}

.bwcalendar .days li .today {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}
